#containeragendamento{
	width:100vw;
	display:flex;
}

#agendamentoleft{
	width:49%;
	position: relative;
}
#agendamentoright{
	width:49%;
}


#agendamentoright ul{
	list-style:none;
}

#cardag{
	width:90%;
	height:350px;
	display:flex;
	font-size:20px;
	font-weight:bold;
	flex-direction:column;
	justify-content:space-around;
	
}
#buttonagd{
	margin-top:20px;
	padding:7px;
	font-weight:bold;
	font-size:16px;
	background-color:var(--marrom3);
	color:var(--laranja);
	cursor:pointer;
	

}

#dataagendam,#selecthorario{
	cursor:pointer;
	width:40%;
	height:30px;

}

#alertastatushorario{
	display:none;
	width:80%;
	font-size:18px;
}

#historicoagendamentos{
	margin-left:20px;
	margin-top:10px;
	width:90%;
}

#historicoagendamentos ul{
	list-style: none;
	margin-top:10px;
}
#historicoagendamentos ul li input{
	padding:5px;
}

#formulario_de_alteracao select{
	width:80%;
	height:30px;
	margin:10px;
}

#formulario_de_alteracao button{
	padding: 10px;
	margin:10px;

}
#formulario_de_alteracao input{
	padding: 10px;
	margin:10px;
	width:80%;

}

#formulario_de_alteracao {
	position:absolute;
	top:0;
	left:0;
	height:50vh;
	background-color: white;
	width:300px;
	display:none;

}

#formulario_de_alteracao form{
	width:90%;
	position: absolute;
	left:50%;
	top:50%;
	margin-top:-100px;
	margin-left: -100px;
}

#feedupdate{
	position: absolute;
	bottom: -60px;
	left:10px;
	width:90%;
	height:50px;
	font-size:20px;
	display:none;
	text-align: center;
	border:solid white 1px;
}